
nav{
    float: left;
    width: 15vw;
    height: 100%;
    background-color: black;
}

/*--font--*/

.title{
    color: white;
    height: 6vw;
    font-size: 4vw;
    line-height: 6vw;
    text-align: center;
}

.subtitle{
    color: white;
    height: 7vw;
    font-size: 3vw;
    line-height: 7vw;
    text-align: center;
}

/*-common-*/
.bb{
    border-bottom: 1px solid white;
}
span{
    display:inline-block;
    width: 100%;
}