<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/reset.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <link rel="shortcut icon" href="../static/favicon.ico">
    <script src='../static/js/jquery-3.5.1.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@2.0.0/dist/tf.min.js"></script>
    <script src="../static/js/wordmaker.js"></script>
    <script src="../static/js/test.js"></script>
    <script src="../static/js/testt.js"></script>
    <!-- <script type="module" src="../static/js/apptest.js"></script> -->
    <title>WordMaker</title>
</head>

<body>
    <header>
        <div id="logo">

            <div class="subtitle">WordMaker v2.1</div>
            <img src="../static/img/wordmakerlogo.png" alt="워드메이커로고">
        </div>
    </header>
    <div id="main">
        <textarea id="wordmaker"></textarea>
    </div>
    <footer></footer>
</body>

</html>